<div class="banner">
    <ul>
        <li><img src="https://www.dropbox.com/s/eojylwf0p2stehg/vlcsnap-2015-04-08-01h44m44s184.png?dl=1"></li>
        <li><img src="https://www.dropbox.com/s/1894ug74t7k7sub/vlcsnap-2015-04-08-01h51m04s140.png?dl=1"></li>
        <li><img src="https://www.dropbox.com/s/eojylwf0p2stehg/vlcsnap-2015-04-08-01h44m44s184.png?dl=1"></li>
    </ul>
</div>